@{
    ViewBag.Title = "SNMP Monitor";
}

@section Scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        var app = $.sammy(function () {
            this.element_selector = '#contentContainer';
            this.get('#/', function (context) {
                context.load("@Url.Action("Dashboard","Home")").swap();
                SetActiveLink("");
            });
            this.get('#/Monitor', function (context) {
                this.redirect("#/Monitor/0");
            });
            this.get('#/Monitor/:id', function (context) {
                context.load("@Url.Action("Monitor","Home")/" + this.params["id"]).swap();
                SetActiveLink("Monitor");
            });
            this.get('#/Logs', function (context) {
                context.load("@Url.Action("Logs","Home")").swap();
                SetActiveLink("Logs");
            });
            this.get('#/AddAgent', function (context) {
                context.load("@Url.Action("AddAgent","Home")").swap();
                var ul = $('ul');
                ul.children().removeClass('active');
            });
            this.get('#/ModifyAgent/:id', function (context) {
                context.load("@Url.Action("ModifyAgent","Home")/" + this.params["id"]).swap();
                var ul = $('ul');
                ul.children().removeClass('active');
            });
        });

        var connection = $.hubConnection();
        connection.logging = true;
        var notifications = connection.createHubProxy("snmpDataHub");
        notifications.on("receiveUpdatedAgentWithValue", function (dataValue) {
            $("body").find("*").trigger("receiveUpdatedAgentGeneral");
            $("body").find("*").trigger("receiveUpdatedAgentNr" + dataValue.AgentNr, dataValue);
        });
        notifications.on("receiveInsertDelete", function () {
            $("body").find("*").trigger("receiveAgentInsertDelete");
        });
        notifications.on("receiveNewEvent", function () {
            $("body").find("*").trigger("receiveEvent");
        });
        connection.start().done(function () {
            notifications.invoke("joinDataGroup", "Agent_General");
        }).fail(function (e) {
            alert("SignalRError: " + e);
        });


        app.run("#/");
    });

    function SetActiveLink(name) {
        var ul = $('#navigationBar ul');

        ul.children().removeClass('active')

        ul.find('a[href="#/' + name + '"]').parent().addClass('active')
    }
</script>
}

<div id="contentContainer">

</div>


